# Build artifacts
build/
*.o
*.d
*.elf
*.bin
*.map
*.merged.bin
libraries.cache
compile_commands.json
build_opt.h
build.options.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# NPM/font build tools
node_modules/
package-lock.json
package.json
fonts/
noto_*.c
!jarvis_lvgl/noto_*.c

lv_conf.h
